---
import * as constants from "../../../shared/constants";
---

<header class="mb-8">
  <div class="text-center space-y-4">
    <h1 class="text-2xl font-bold text-gray-900">
      <a href="/" class="hover:text-blue-600 transition-colors duration-200">
        {constants.TITLE}
      </a>
    </h1>
  </div>
</header>